/*
* The Index of file
* 
* 1:- Quick Common class - for quick and global class
* 2:- Header class - till above menu
* 3:- Menu Class - will not for mega menu
* 4:- Breadcrumb class
* 5:- Left / Main container class
* 6:- widget / right sidebar class
* 7:- Comment class
* 8:- Footer class
* 
*/


/* Bootstrap 4 mods */

body p {
	margin: 0 0 10px;
}

/* container fix */
@media (max-width: 767px) {
	.container {
		max-width: none;
	}
}

@media (min-width: 768px) {
	.container {
		padding-right: 0px;
		padding-left: 0px;
	}
}

/* tooltip fix */
.tooltip-inner {
	padding: 0.0rem 0.5rem 0.25rem 0.5rem;
}

.tooltip {
	font-size: 0.775rem;
}

/* breadcrumb fix */
.breadcrumb {
	padding: 0.5rem 0.7rem;
	margin: 0px;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
	content: "\f101" !important;
	font-family: fontawesome !important;
	color: #757575 !important;
}

/* blockquote fix */
blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 5px solid #eee;
}

blockquote p {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

mark, .mark {
	background-color: unset;
}
/* bs 4 mods end */

/* full alignment */

.entry-content .alignfull {
	margin-left  : calc( -100vw / 2 + 100% / 2 );
	margin-right : calc( -100vw / 2 + 100% / 2 );
	max-width    : 100vw;
}

.entry-content .alignwide {
	margin-left: calc( -87vw / 2 + 100% / 2 );
	margin-right: calc( -87vw / 2 + 100% / 2 );
	max-width: 100vw;
}

/* full alignment END */

body.page-template-template-full-width-page-builder.elementor-page .maincontainer,
body.page-template-template-landing-page.elementor-page .maincontainer {
	padding-left: 0px;
	padding-right: 0px;
}

body.page-template-template-full-width-page-builder.elementor-page .maincontainer div.container,
body.page-template-template-landing-page.elementor-page .maincontainer div.container {
	width: 100%;
	max-width: none;
	padding-left: 0px;
	padding-right: 0px;
}

body{
	overflow-x: hidden;
	overflow-y: auto;
}

.overflowhide {
	overflow: hidden;
}

.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.entry-content iframe {
	max-width: 100%;
}

.clearboth
{
	clear:both;
}

a:focus {
	outline: unset !important;
}

/*
* Quick Common class
*/

.wd100 {
	width: 100%;
	height: auto;
}

.displaynon {
	display: none;
}

.mr0 {
		margin: 0
}

.mr5 {
		margin: 5px
}

.mr10 {
		margin: 10px
}

.mr15 {
		margin: 15px
}

.mr20 {
		margin: 20px
}

.mrt5 {
		margin-top: 5px
}

.mrt10 {
		margin-top: 10px
}

.mrt15 {
		margin-top: 15px
}

.mrt20 {
		margin-top: 20px
}

.mrr5 {
		margin-right: 5px
}

.mrr10 {
		margin-right: 10px
}

.mrr15 {
		margin-right: 15px
}

.mrr20 {
		margin-right: 20px
}

.mrb5 {
		margin-bottom: 5px
}

.mrb10 {
		margin-bottom: 10px
}

.mrb15 {
		margin-bottom: 15px
}

.mrb20 {
		margin-bottom: 20px
}

.mrl5 {
		margin-left: 5px
}

.mrl10 {
		margin-left: 10px
}

.mrl15 {
		margin-left: 15px
}

.mrl20 {
		margin-left: 20px
}

.pd0 {
		padding: 0
}

.pd5 {
		padding: 5px
}

.pd10 {
		padding: 10px
}

.pd15 {
		padding: 15px
}

.pd20 {
		padding: 20px
}

.pdt5 {
		padding-top: 5px
}

.pdt10 {
		padding-top: 10px
}

.pdt15 {
		padding-top: 15px
}

.pdt20 {
		padding-top: 20px
}

.pdr5 {
		padding-right: 5px
}

.pdr10 {
		padding-right: 10px
}

.pdr15 {
		padding-right: 15px
}

.pdr20 {
		padding-right: 20px
}

.pdb5 {
		padding-bottom: 5px
}

.pdb10 {
		padding-bottom: 10px
}

.pdb15 {
		padding-bottom: 15px
}

.pdb20 {
		padding-bottom: 20px
}

.pdl5 {
		padding-left: 5px
}

.pdl10 {
		padding-left: 10px
}

.pdl15 {
		padding-left: 15px
}

.pdl20 {
		padding-left: 20px
}

.fl {
		float: left
}

.fr {
		float: right
}

.alignl {
		text-align: left
}

.alignc {
		text-align: center
}

.alignr {
		text-align: right
}

.alignnone {
		margin: 5px 20px 20px 0
}

.aligncenter,
div.aligncenter {
		display: block;
		margin: 5px auto
}

.alignright {
		float: right;
		margin: 5px 0 20px 20px
}

.alignleft {
		float: left;
		margin: 5px 20px 20px 0
}

a img.alignright {
		float: right;
		margin: 5px 0 20px 20px
}

a img.alignleft,
a img.alignnone {
		margin: 5px 20px 20px 0
}

a img.alignleft {
		float: left
}

a img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto
}

/* if browser width is greater than 768px, below rules will come in action. */
@media (min-width: 768px)
{
	.fl_right_header_spsl
	{
		float:right;
	}
}

/* Extra responsive */

/* top bar */
.spsl-fr-topbar-icons {
	float: right;
}

@media (max-width: 767px) {
	.spsl-fr-topbar-icons {
		float: none;
		text-align: center;
	}
	.spsl-topbar-left-cntr {
		text-align: center;
	}
}

/* if browser width is less than 767, hide  whatsapp-large icon */
@media (max-width: 767px) {
	.whatsapp-large {
		display: none;
	}
}

/* if browser width is greater than 768, hide  whatsapp-small icon */
@media (min-width: 768px) {
	.whatsapp-small {
		display: none;
	}
}
/* top bar END */

.fr-spsl
{
	float: right;
}
.alignc-spsl
{
		text-align: center;
}

.alignr-spsl
{
		text-align: right;
}

/* if browser width is less than 990px, below rules will come in action. */
@media (max-width: 990px)
{
	.fr-spsl
	{
		float: left;
	}
	.alignc-spsl
	{
		text-align: left;
	}
	.alignr-spsl
	{
		text-align: left;
	}
}
/* Extra responsive END */

body a, .woocommerce .woocommerce-breadcrumb a, .woocommerce .star-rating span {
	-webkit-transition: color 0.3s linear;
	-moz-transition: color 0.3s linear;
	transition: color 0.3s linear;
}

.masterbtn, .side-menu-menu-button, #back-to-top, .di_ecommerce_social_widget a, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .singletags a, .wpcf7-form .wpcf7-form-control.wpcf7-submit, .tagcloud a {
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}

.singletags a::before, .tagcloud a::before {
	-webkit-transition: border-right-color 0.3s linear;
	-moz-transition: border-right-color 0.3s linear;
	transition: border-right-color 0.3s linear;
}

.navigation.pagination .nav-links .page-numbers {
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

/*
* Quick Common class END
*/

/*
* Header Class
*/


.bgtoph-icon-clr {
	border-radius: 1px;
	padding: 3px;
	border: 1px solid;
}

.iconouter a {
	padding-left:5px;
}
	
.headerimg, .wp-custom-header img {
	height: auto;
	width: 100%;
}


.bgtoph, .headermain
{
	z-index:1001;
}

.bgtoph .topbarmil {
	padding-left: 15px;
}

@media screen and (max-width:370px) {
	.bgtoph .topbarmil, .bgtoph .topbarpn {
		display: block;
	}
}

.bgtoph .tpbr_lft_phne_ctmzr .fa {
	margin-right: 3px;
}

/*
.bgtoph, .headermain
{
	position:sticky;
}
*/

.custom-logo {
	height: auto;
}

/* search form top bar */
.scp-search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: fixed;
	z-index: 9999999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.scp-search::before {
	top: 0;
	left: 0;
	border-right-width: 0;
	border-bottom-width: 0;
}

.scp-search::after {
	right: 0;
	bottom: 0;
	border-top-width: 0;
	border-left-width: 0;
}

.scp-btn--search-close {
	font-size: 2em;
	position: absolute;
	top: 5px;
	right: 102px;
	display: block;
}

.scp-search .scp-search__form {
	margin: 5em 0;
}

.scp-search .scp-search__input {
	font-family: inherit;
	font-size: 10vw;
	line-height: 1;
	display: inline-block;
	box-sizing: border-box;
	width: 75%;
	padding: 0.05em 0;
	border-bottom: 2px solid;
	background: transparent;
	border-radius: 0;
	-webkit-appearance: none;
	border-top: none;
	border-left: none;
	border-right: none;
}


.scp-search .scp-search__input:focus {
	outline: none;
}

.scp-search .scp-search__input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	opacity: 0.3;
	color: #060919;
}

.scp-search .scp-search__input::-moz-placeholder {
	opacity: 0.3;
	/* Mozilla Firefox 19+ */
	color: #060919;
}

.scp-search .scp-search__input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	opacity: 0.3;
	color: #060919;
}

.scp-search .scp-search__input::-webkit-search-cancel-button,
.scp-search .scp-search__input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.scp-search .scp-search__input::-ms-clear {
	display: none;
}

.scp-search .scp-search__info {
	font-size: 90%;
	font-weight: bold;
	display: block;
	width: 75%;
	margin: 0 auto;
	padding: 0.85em 0;
	text-align: right;
}

.scp-search .display_if_usedas_widget {
	display: none;
}

/* Do not show when used as widget */
.scp-search__info {
	display: none;
}

.widget_search .scp-search__input {
	display: block;
	width: 100%;
	height: 40px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	box-shadow: none;
	transition: initial;
	float: left;
	margin: 0;
}

.widget_search .scp-search__input:focus {
	border: 1px solid #ccc;
	outline: 0;
	box-shadow: none;
}


.widget_search .masterbtn.display_if_usedas_widget {
	position: absolute;
	right: 15px;
	width: 50px;
	border-radius: 0;
	height: 40px;
}

.headermain .sidebar-header-right .widgets_header,
.headermain .sidebar-header-left .widgets_header_left {
	margin-bottom: 10px;
	width: 100%;
}


.maincontainer .left-content .scp-search__form .scp-search__input {
	display: block;
	width: 50%;
	height: 40px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	box-shadow: none;
	transition: initial;
	float: left;
	margin: 0;
}

.maincontainer .left-content .scp-search__form .masterbtn.display_if_usedas_widget {
	width: 50px;
	border-radius: 0;
	height: 40px;
	position: absolute;
}

/************************/
/* Transitions      */
/************************/

.scp-search--open {
	pointer-events: auto;
	opacity: 1;
}

/* Border */
.scp-search::before,
.scp-search::after {
	-webkit-transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	transition: transform 0.5s;
}

.scp-search::before {
	transform: translate3d(-15px, -15px, 0);
}

.scp-search::after {
	transform: translate3d(15px, 15px, 0);
}

.scp-search--open::before,
.scp-search--open::after {
	transform: translate3d(0, 0, 0);
}

/* Close button */
.scp-btn--search-close {
	opacity: 0;
	transform: scale3d(0.8, 0.8, 1);
	transition: opacity 0.5s, transform 0.5s;
}

.scp-search--open .scp-btn--search-close {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}

/* Search form with input and description */
.scp-search .scp-search__form {
	opacity: 0;
	transform: scale3d(0.8, 0.8, 1);
	transition: opacity 0.5s, transform 0.5s;
}

.scp-search--open .scp-search__form {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}


@media screen and (max-width:40em) {
	.scp-search .scp-search__form {
		margin: 5em 0 1em;
	}
	.scp-btn--search-close {
		font-size: 1.25em;
		top: 1.5em;
		right: 1.5em;
	}
	.scp-search .scp-search__info {
		text-align: left;
	}

}


/* Buttons */

.scp-btn {
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background: none;
}

.scp-btn:focus {
	outline: none;
}

.scp-btn--search {
	font-size: 1.5em;
}

.scp-btn--hidden {
	pointer-events: none;
	opacity: 0;
}

/* search form top bar */

/*
* Header Class END
*/


/*
* Menu Class
*/

#navbarouter {
	z-index: 1001;
	width: 100%;
}

.sticky_menu_top {
	position: fixed !important;
	top: 0 !important;
}

/* Rules for all case */
.navbarprimary .dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 99.78%;
	margin-top: -1px;
}

.navbarprimary .dropdown-menu {
	min-width: 189px;
	padding: 0px;
}

.navbarprimary .dropdown-menu li {
	border-bottom: 1px solid #E0E0E0;
}

.navbarprimary .small-menu-label {
	position: relative;
	top: 9px;
	left: 10px;
	font-size: 16px;
	display: none;
}

.navbarprimary .navbar-toggler {
	border-color: rgba(0,0,0,.1);
}
.navbarprimary .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* nav transition all case */
.navbarprimary .dropdown-menu > li > a {
	transition: background-color 0.5s ease-in-out;
}

.navbarprimary ul.primary-menu > li a {
	transition: color 0.5s ease-out, background-color 0.5s ease-out;
}


/* If browser is greater than 768px */
@media (min-width: 768px) {

	.navbarprimary ul a {
		white-space: nowrap;
	}

	.navbarprimary.navbar {
		padding: 1px;
	}

	.navbarprimary .dropdown-menu {
		-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .175);
		box-shadow: 0 2px 4px rgba(0, 0, 0, .175);
		border-bottom: 2px solid transparent;
		border-radius: 0;
	}

	/* hover effect */
	.navbarprimary .navbar-nav > li > ul.dropdown-menu {
		display: block;
		margin-top: 10px;
		opacity: 0;
		visibility: hidden;
		transition: margin 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;
	}
	.navbarprimary .navbar-nav > li:hover > ul.dropdown-menu {
		margin-top: 0px;
		opacity: 1;
		visibility: visible;
	}
	.navbarprimary .dropdown-submenu > .dropdown-menu {
		display: block;
		left: 92%;
		opacity: 0;
		visibility: hidden;
		transition: left 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;
	}
	.navbarprimary .dropdown-submenu:hover > .dropdown-menu {
		left: 99.50%;
		opacity: 1;
		visibility: visible;
	}
	/* hover effect END */

	.navbarprimary ul li > a.dropdown-toggle::after {
		vertical-align: 0.15em;
		border-top: 0.25em solid;
		border-right: 0.25em solid transparent;
		border-left: 0.25em solid transparent;
	}

	.navbarprimary ul li ul li.dropdown-submenu > a.dropdown-toggle::after {
		display: inline-block;
		width: 0;
		height: 0;
		content: "";
		border-top: 0.3em solid;
		border-right: 0.3em solid transparent;
		border-bottom: 0;
		border-left: 0.3em solid transparent;
		-ms-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		position: absolute;
		top: 18px;
		right: 8px;
	}
	.navbarprimary ul.navbar-nav > li a.nav-link {
		padding: 11px 15px;
	}

	.navbarprimary ul.navbar-nav .dropdown-menu > li a.nav-link {
		padding: 6px 20px;
	}

	.navbarprimary .dropdowntoggle {
		display: none;
	}

	.navbarprimary ul li ul li ul li a.dropdown-toggle::after {
		display: none;
	}

}

/* If browser is less than 767px */
@media (max-width: 767px) {

	.navbarprimary ul li a.dropdown-toggle::after {
		display: none;
	}

	.navbarprimary.navbar {
		padding: 0px;
	}

	.navbarprimary .navbar-header {
		width: 100%;
	}

	.navbarprimary .navbar-toggler {
		margin: 5px 10px 5px 0px;
		float: right;
	}

	.navbarprimary .navbar-toggler {
		padding: 0.30rem 0.50rem;
		font-size: 1rem;
	}

	.navbarprimary .dropdowntoggle {
		background-color: #e6e6e6;
		padding: 0px 2px;
		outline: dotted 0.5px;
		cursor: pointer;
		font-size: 14px;
		position: absolute;
		top: 8px;
		right: 10px;
	}

	.navbarprimary-open > ul {
		display: block !important;
	}

	.navbarprimary ul > li a.nav-link {
		padding: 6px 10px;
	}

	.navbarprimary .dropdown-menu > li a.nav-link {
		padding: 6px 25px;
	}

	.navbarprimary .dropdown-menu > li.dropdown-submenu ul li a.nav-link {
		padding: 6px 35px;
	}

	.navbarprimary .dropdown-menu {
		border: 0px;
		margin-top: 0;
	}

	.navbarprimary .small-menu-label {
		display: inline-block;
	}

}

/*
* Menu Class END
*/


/**
 *
 * Sidebar cart
 *
 */

/* Sidebar cart Open Button */
.side-menu-menu-button {
	border-radius: 0px;
	cursor: pointer;
	height: 35px;
	line-height: 37px;
	position: fixed;
	text-align: center;
	text-decoration: none;
	width: 34px;
	z-index: 99999;
	font-size: 24px;
}

.side-menu-menu-button:hover {
	color: #ffffff;
}

/* Sidebar cart Close Button */
.side-menu-close-button {
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: transparent;
	cursor: pointer;
}

.side-menu-close-button::before,
.side-menu-close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
}

.side-menu-close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.side-menu-close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Sidebar cart container */

.side-menu-menu-wrap {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999999;
	width: 280px;
	height: 100%;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.side-menu-show-menu .side-menu-menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.side-menu-menu-wrap ul {
	list-style-type: none;
	position: relative;
	right: 10px;
	top: 10px;
}

.side-menu-menu-wrap ul li {
	position: relative;
	left: 0px;
}


.side-menu-menu-wrap ul li a {
	padding: 10px 0px;
}




/*
* Left / Main container class
*/

.left-content {
	min-height: 400px;
}

@media (min-width: 768px) {
	.layoutleftsidebar {
		-webkit-order: 2;
		order: 2;
		margin-left: auto;
	}
}

figure .wp-caption-text {
		padding: 15px 0 1px
}

table {
		margin-bottom: 20px;
		max-width: 100%;
		width: 100%;
}

table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th {
		border-top: 1px solid #ddd;
		line-height: 1.42857;
		padding: 8px;
		vertical-align: top;
}

.gallery {
		margin-bottom: 1.6em;
}

.gallery-item {
		display: inline-block;
		padding: 1.79104477%;
		text-align: center;
		vertical-align: top;
		width: 100%;
}

.gallery-columns-2 .gallery-item {
		max-width: 50%;
}

.gallery-columns-3 .gallery-item {
		max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
		max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	width: 12.50%;
}

.gallery-columns-9 .gallery-item {
	width: 11.11%;
}

.gallery-icon img {
		margin: 0 auto;
}

.wp-caption {
		background: #fff;
		border: 1px solid #f0f0f0;
		max-width: 96%;
		padding: 5px 3px 10px
}

.wp-caption.alignleft,
.wp-caption.alignnone {
		margin: 5px 20px 20px 0
}

.wp-caption.alignright {
		margin: 5px 0 20px 20px
}

.wp-caption img {
		border: 0;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto
}

.wp-caption p.wp-caption-text {
		font-size: 11px;
		line-height: 17px;
		margin: 0;
		padding: 0 4px 5px
}

/* Accessibility */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Accessibility END */

.gallery-caption {
	line-height: 1.5;
	text-align: center;
}

.sticky .entry-date {
		display: none
}

.bypostauthor>article .fn:after {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-family: Genericons;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		line-height: 1;
		speak: none;
		text-align: center;
		text-decoration: inherit;
		text-transform: none;
		vertical-align: top
}


.content-third {
	padding: 10px;
}

.vc-content-third {
	padding: 0px 10px;
}

.left-content blockquote {
		background-color: #f5f5f5
}

.left-content ol li,
.left-content ul li {
		padding-bottom: 5px
}


.left-content .pagelinks {
	padding-top: 20px;
}

.left-content .pagelinks .pagelinksa {
	border: 1px solid;
	border-radius: 6px;
	margin-left: 5px;
	padding: 4px 10px;
}

.pagercon .previous>a,
.pagercon .previous>span {
		float: right
}


.wp-caption {
		text-align: center
}

a,
a:active,
a:focus,
a:hover {
		text-decoration: none
}


.left-content .postsloop, .left-content .single-posst {
	margin: 19px 0;
}

.di-post-thumb {
	padding-left: 10px;
	padding-right: 10px;
}

/* keep post title in center */
.di-post-contents .di-post-categories, .di-post-contents .di-post-title, .di-post-contents .di-post-date {
	text-align: center;
	margin-bottom: 12px;
}

/* Keep page title in left instead center */
.di-page-contents .di-post-title {
	margin-bottom: 15px;
}

.maincontainer .di-post-contents .content-first {
	padding: 20px 0;
}


.maincontainer .di-post-contents .di-post-categories a {
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 10px;
}

.maincontainer .di-post-contents .di-post-title h3.the-title a.entry-title {
	text-decoration: none;
	transition: color .3s ease;
}

.maincontainer .di-post-contents .di-post-date p.post-date.updated {
	font-size: 10px;
	font-style: italic;
	color: #939393;
	text-transform: uppercase;
	letter-spacing: 1px;
}


.di-continue-reading {
	border: 1px solid;
	margin: 0 auto;
	padding: 4px 10px;
	display: table;
	font-size: 11px;
	letter-spacing: 1px;
	position: relative;
	top: 12px;
}


.di-archive {
	border: 1px solid #eeeeee;
}


.select2-container .select2-choice > .select2-chosen {
	padding: 3px 0;
}

.masterbtn {
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.singletags a::before {
	border-bottom: 10px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid transparent;
	content: "";
	height: 0;
	left: -8px;
	position: absolute;
	top: 0;
	width: 0;
}

.singletags a::after {
	background-color: #fff;
	border-radius: 50%;
	content: "";
	height: 4px;
	left: -2px;
	position: absolute;
	top: 8px;
	width: 4px;
}


.singletags a {
	border-radius: 0 2px 2px 0;
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	line-height: 1.27273;
	margin: 2px 4px 2px 10px;
	padding: 3px 7px;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	font-style: italic;
}

/**
 * Author box.
 */

.post-about-author {
	margin: 60px 0 0 0;
	padding: 0 10px;
}

.post-about-author .post-about-headline {
	padding-bottom: 10px;
	font-size: 16px;
}

.post-author-avatar {
	float: left;
	margin-right: 30px;
}

.post-author-texts {
	padding-top: 2px;
}

.post-author-name {
	text-transform: uppercase;
}

.comments-area .comment-respond {
	margin-top: 15px;
}

.navigation.post-navigation.dicomntnav .nav-next, .navigation.post-navigation.dicomntnav .nav-previous {
	margin: 22px 0px 5px 0px;
}

/* navigation - posts, post, comments */

.navigation.post-navigation.dipostsnav .nav-next, .navigation.post-navigation.dipostsnav .nav-previous {
	margin: 20px 0px;
}

.navigation.post-navigation.dipostnav .nav-next, .navigation.post-navigation.dipostnav .nav-previous {
	margin: 20px 0px;
}

.post-navigation .nav-previous {
	float: left;
}

.post-navigation .nav-next {
	float: right;
}

.post-navigation .nav-next a, .post-navigation .nav-previous a {
	padding: 6px 10px;
	border: 1px solid #dddddd;
	border-radius: 5px;
}

/* Sweep To Right */
.post-navigation .nav-next a {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition: color 0.5s ease-in-out;
	transition: color 0.5s ease-in-out;
}

.post-navigation .nav-next a:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

.post-navigation .nav-next a:hover:before, .post-navigation .nav-next a:focus:before, .post-navigation .nav-next a:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* Sweep To Left */
.post-navigation .nav-previous a {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition: color 0.5s ease-in-out;
	transition: color 0.5s ease-in-out;
}
.post-navigation .nav-previous a:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}
.post-navigation .nav-previous a:hover:before, .post-navigation .nav-previous a:focus:before, .post-navigation .nav-previous a:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* btn clr */
.post-navigation .nav-next a, .post-navigation .nav-previous a {
	color: #ffffff;
}

/* btn hvr clr */
.post-navigation .nav-next a:hover, .post-navigation .nav-previous a:hover {
	color: #ffffff;
}

/* btn bg clr */
.post-navigation .nav-next a, .post-navigation .nav-previous a {
	background-color: #000000;
}

/* btn hvr bg clr */
.post-navigation .nav-next a:before, .post-navigation .nav-previous a:before {
	background-color: #f66f66;
}

/* pagination */

.navigation.pagination {
	margin: 0 auto;
	display: table;
	padding: 10px 0px;
}

.navigation.pagination .nav-links .page-numbers {
	padding: 2px 17px 0px 17px;
	background-color: #F4F4F4;
	font-size: 19px;
	float: left;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
}

.navigation.pagination .nav-links .page-numbers:hover {
	background-color: #ffffff;
}

.navigation.pagination .nav-links .page-numbers:last-child {
	border-right: 1px solid;
}

/*
* Left / Main container class END
*/


/*
* widget / right sidebar class
*/

.right-content {
	overflow: hidden;
}

.right-content .widget_sidebar_main {
	margin: 19px 0;
}

.right-content .widget_sidebar_main.widget_search form {
	padding-top: 10px;
}






.widget_sidebar_main .right-widget-title {
	padding: 9px;
	margin: 0px 0px 20px 0px;
	background-color: #f7f7f7;
	text-align: center;
	border-radius: 10px;
	font-size: 16px;
	color: #000000;
}

.widget_sidebar_main.widget_recent_entries ul li,
.widget_sidebar_main.widget_archive ul li,
.widget_sidebar_main.widget_categories ul li,
.widget_sidebar_main.widget_meta ul li,
.widget_sidebar_main.widget_nav_menu ul li,
.widget_sidebar_main.widget_pages ul li,
.widget_sidebar_main.widget_product_categories ul li,
.widget_sidebar_main.widget_recent_comments ul li
{
	list-style-type: none;
	margin-bottom: 6px;
	margin-top: 6px;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 9px;
}

.widget_sidebar_main.widget_recent_entries ul,
.widget_sidebar_main.widget_archive ul,
.widget_sidebar_main.widget_categories ul,
.widget_sidebar_main.widget_meta ul,
.widget_sidebar_main.widget_nav_menu ul,
.widget_sidebar_main.widget_pages ul,
.widget_sidebar_main.widget_product_categories ul,
.widget_sidebar_main.widget_recent_comments ul
{
	padding: 0 0 0 20px;
}

.widgets_footer.widget_recent_entries ul li,
.widgets_footer.widget_archive ul li,
.widgets_footer.widget_categories ul li,
.widgets_footer.widget_meta ul li,
.widgets_footer.widget_nav_menu ul li,
.widgets_footer.widget_pages ul li,
.widgets_footer.widget_product_categories ul li,
.widgets_footer.widget_recent_comments ul li
{
	list-style-type: none;
	margin-bottom: 7px;
	margin-top: 6px;
}

.widgets_footer.widget_recent_entries ul,
.widgets_footer.widget_archive ul,
.widgets_footer.widget_categories ul,
.widgets_footer.widget_meta ul,
.widgets_footer.widget_nav_menu ul,
.widgets_footer.widget_pages ul,
.widgets_footer.widget_product_categories ul,
.widgets_footer.widget_recent_comments ul
{
	padding: 0 0 0 5px;
}

.widget_sidebar_main.widget_recent_entries ul li:last-child,
.widget_sidebar_main.widget_archive ul li:last-child,
.widget_sidebar_main.widget_categories ul li:last-child,
.widget_sidebar_main.widget_meta ul li:last-child,
.widget_sidebar_main.widget_nav_menu ul li:last-child,
.widget_sidebar_main.widget_pages ul li:last-child,
.widget_sidebar_main.widget_product_categories ul li:last-child,
.widget_sidebar_main.widget_recent_comments ul li:last-child,
.widgets_footer.widget_recent_entries ul li:last-child,
.widgets_footer.widget_archive ul li:last-child,
.widgets_footer.widget_categories ul li:last-child,
.widgets_footer.widget_meta ul li:last-child,
.widgets_footer.widget_nav_menu ul li:last-child,
.widgets_footer.widget_pages ul li:last-child,
.widgets_footer.widget_product_categories ul li:last-child,
.widgets_footer.widget_recent_comments ul li:last-child
{
	border-bottom: none;
	padding-bottom: 0px
}

.widget_sidebar_main.widget_recent_entries ul li a::before,
.widget_sidebar_main.widget_archive ul li a::before,
.widget_sidebar_main.widget_categories ul li a::before,
.widget_sidebar_main.widget_meta ul li a::before,
.widget_sidebar_main.widget_nav_menu ul li a::before,
.widget_sidebar_main.widget_pages ul li a::before,
.widget_sidebar_main.widget_product_categories ul li a::before,
.widgets_footer.widget_recent_entries ul li a::before,
.widgets_footer.widget_archive ul li a::before,
.widgets_footer.widget_categories ul li a::before,
.widgets_footer.widget_meta ul li a::before,
.widgets_footer.widget_nav_menu ul li a::before,
.widgets_footer.widget_pages ul li a::before,
.widgets_footer.widget_product_categories ul li a::before
{
	content: "\f101";
	font-family: fontawesome;
	font-weight: bold;
	left: -4px;
	position: relative;
	font-size: 17px;
}

.widget_sidebar_main.widget_recent_comments ul li::before,
.widgets_footer.widget_recent_comments ul li::before
{
	content: "\f0e5";
	font-family: fontawesome;
	font-weight: bold;
	left: -4px;
	position: relative;
	font-size: 17px;
	margin-right: 2px;
}

.di_ecommerce_widget_recent_posts_thumb .postthumbmain {
	margin: 10px 5px 0px 10px;
}

.di_ecommerce_widget_recent_posts_thumb .postthumbmain .postthumbmain_img {
	float: left;
	margin-right: 10px;
}

.di_ecommerce_widget_recent_posts_thumb .postthumbmain .postthumbmain_img img.img-thumbnail {
	padding: 2px
}

.di_ecommerce_widget_recent_posts_thumb .postthumbmain .postthumbmain_cntnt p {
	margin: 0;
}

.di_ecommerce_widget_recent_posts_thumb .clearboth.bordrbrm {
	border-bottom: 1px solid #eaeaea;
	padding-top: 8px;
}

.di_ecommerce_widget_recent_posts_thumb .clearboth.bordrbrm:last-child {
	border-bottom: none;
	padding-top: 0px;
}


.right-content .widget_sidebar_main {
	padding-bottom: 10px;
}

.tagcloud a::before {
	border-bottom: 10px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid transparent;
	content: "";
	height: 0;
	left: -8px;
	position: absolute;
	top: 0;
	width: 0;
}

.tagcloud a::after {
	background-color: #fff;
	border-radius: 50%;
	content: "";
	height: 4px;
	left: -2px;
	position: absolute;
	top: 8px;
	width: 4px;
}


.tagcloud a {
	border-radius: 0 2px 2px 0;
	display: inline-block;
	font-weight: 700;
	line-height: 1.27273;
	margin: 5px 4px 2px 10px;
	padding: 3px 7px;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 0.8px;
}

.widget_sidebar_main.widget_categories select, .widget_sidebar_main.widget_archive select {
	padding: 10px 5px;
	width: 98%;
	margin: 0px 4px;
}

.widget_sidebar_main .textwidget, .widget_sidebar_main .tagcloud, .widget_sidebar_main #calendar_wrap {
	padding-left: 10px;
}

.widget_sidebar_main.widget_media_image img {
	margin: 0 auto;
}

.di_ecommerce_social_widget a {
	line-height: 41px;
	margin-left: 6px;
	padding: 8px 6px 6px;
}

.fa.social_profile-icon-clr {
	font-size: 18px;
	padding: 3px;
}

.widget_sidebar_main.widget_recent_entries ul li span,
.widgets_footer.widget_recent_entries ul li span {
	display: block;
	margin-left: 12px;
	font-size: 12px;
}


/*
* widget / right sidebar class END
*/


/*
* Comment class
*/

#commentcount {
	margin-top: 25px;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
		width: 100%
}

#comments .depth-2, #comments .depth-3, #comments .depth-4, #comments .depth-5, #comments .depth-6, #comments .depth-7, #comments .depth-8, #comments .depth-9, #comments .depth-10 {
		margin-left: 35px
}

.dimedia {
	margin-top: 15px;
}
.dimedia:first-child {
	margin-top: 0;
}
.dimedia,
.dimedia-body {
	overflow: hidden;
	zoom: 1;
}
.dimedia-body {
	width: 10000px;
}
.dimedia-left,
.dimedia > .pull-left {
	padding-right: 10px;
}
.dimedia-left,
.dimedia-body {
	display: table-cell;
	vertical-align: top;
}
.dimedia-heading {
	margin-top: 0;
	margin-bottom: 5px;
}

.dimedia-left .avatar {
	max-width: unset;
}

#comments p {
		margin: 0
}

#comments .comment, #comments .pingback {
	margin-top: 21px;
	padding: 10px;
}

#comments .alert {
		padding: 1px 5px
}

#comments .logged-in-as {
		font-size: 15px;
		padding-bottom: 10px
}

#comments .comment-notes {
		padding-bottom: 15px
}

.comment-reply-link::before {
	content: "\f064  ";
	font-family: fontawesome;
}

.comment-edit-link::before {
	content: "\f044  ";
	font-family: fontawesome;
}

.comment-edit-link {
	margin-left: 10px;
}

/*
* Comment class END
*/


/*
* Footer class
*/

.footer .widgets_footer_title {
	margin-bottom: 15px;
	border-bottom: 1px solid;
	display: inline-block;
	padding-bottom: 8px;

}

.footer {
	border-top:3px solid;
	position:relative;
	z-index:1001;
}


#back-to-top {
	border-radius: 2px;
	cursor: pointer;
	height: 35px;
	line-height: 31px;
	opacity: 0;
	position: fixed;
	right: 20px;
	bottom: 20px;
	text-align: center;
	text-decoration: none;
	width: 35px;
	display: none;
	z-index:99999;
	font-size: 14px;
}

.back-to-top-show {
	display: block !important;
	opacity: 1 !important;
}

.footer select {
	color: #000000;
}

.widgets_footer select {
	padding: 10px 5px;
	width: 100%;
}


.widgets_footer, .widget_sidebar_main {
	overflow: hidden;
}

.widgets_footer {
	margin: 15px 0px;
}

.widget_product_search #terms {
	padding: 5px 12px;
} 

/*
* Footer class END
*/

/*
* Extra
*/


.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li {
	margin: 15px 0px !important;
}

.vccntnrflud {
	padding-left: 5px;
	padding-right: 5px;
}

/*
* Extra END
*/


/* default colors */

.bgtoph, .bgtoph-icon-clr {
	color: #ffffff;
}
.bgtoph-icon-clr {
	color: #ffffff;
}
.bgtoph-icon-clr {
	border-color: #ffffff;
}
.bgtoph {
	background-color: #000000;
}
.bgtoph a {
	color: #ffffff;
}
.bgtoph a:hover, .bgtoph a:focus {
	color: #ffffff;
}


.scp-search .scp-search__input, .scp-btn, .scp-search__info {
	color: #f66f66;
}
.scp-search {
	background-color: rgba(0,0,0,0.83);
}




.masterbtn {
	color: #ffffff;
}
.wpcf7-form .wpcf7-form-control.wpcf7-submit {
	color: #ffffff;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	color: #ffffff;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
	color: #ffffff;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	color: #ffffff !important;
}
.tagcloud a {
	color: #ffffff !important;
}
.singletags a {
	color: #ffffff;
}
#back-to-top, .social_profile-icon-clr, .bbp-submit-wrapper .button {
	color: #ffffff;
}
.singletags a:hover {
	color: #ffffff;
}
.side-menu-menu-button {
	color: #ffffff;
}
.masterbtn {
	background-color: #000000;
}
.wpcf7-form .wpcf7-form-control.wpcf7-submit {
	background-color: #000000;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	background-color: #000000;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background-color: #000000 !important;
}
.tagcloud a {
	background-color: #000000;
}
.tagcloud a::before {
	border-right-color: #000000;
}
.singletags a {
	background-color: #000000;
}
.singletags a::before {
	border-right-color: #000000;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background-color: #000000;
}
#back-to-top, .di_ecommerce_social_widget a, .bbp-submit-wrapper .button {
	background-color: #000000;
}
.side-menu-menu-button {
	background-color: #000000;
}

.di-cart-count-animate {
	color: #000000;
}


.masterbtn:hover {
	background-color: #f66f66;
}
.wpcf7-form .wpcf7-form-control.wpcf7-submit:hover {
	background-color: #f66f66;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
	background-color: #f66f66 !important;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	background-color: #f66f66 !important;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #f66f66;
}
.tagcloud a:hover {
	background-color: #f66f66;
}
.tagcloud a:hover::before {
	border-right-color: #f66f66;
}
.singletags a:hover {
	background-color: #f66f66;
}
.singletags a:hover::before {
	border-right-color: #f66f66;
}
#back-to-top:hover, .di_ecommerce_social_widget a:hover, .bbp-submit-wrapper .button:hover {
	background-color: #f66f66;
}
.side-menu-menu-button:hover {
	background-color: #f66f66;
}

.side-menu-menu-button:hover .di-cart-count-animate {
	color: #f66f66;
}

.navbarprimary .navbar-nav > li > a {
	color: #ffffff;
}
.navbarprimary {
	background-color: #000000;
}
.navbarprimary .dropdown-menu {
	border-bottom-color: #000000;
}
.navbarprimary.navbar {
	border-color: #000000;
}
.navbarprimary .navbar-nav > .active > a, .navbarprimary .navbar-nav > .active > a:hover, .navbarprimary .navbar-nav > .active > a:focus, .navbarprimary .navbar-nav > li:hover > a {
	color: #4c4c4c;
}
.navbarprimary .navbar-nav > li > a:hover, .navbarprimary .navbar-nav > li > a:focus {
	color: #4c4c4c;
}
.navbarprimary .navbar-nav > .active > a, .navbarprimary .navbar-nav > .active > a:hover, .navbarprimary .navbar-nav > .active > a:focus, .navbarprimary .navbar-nav > li:hover > a {
	background-color: #eeeeee;
}
.navbarprimary .navbar-nav > li > a:hover, .navbarprimary .navbar-nav > li > a:focus {
	background-color: #eeeeee;
}
.dropdown-menu > li > a {
	color: #333333;
}
.navbarprimary .dropdown-submenu > a:after {
	border-left-color: #333333;
}
.dropdown-menu > li > a {
	background-color: #eeeeee;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	color: #333333;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #333333;
}
.navbarprimary .dropdown-submenu:hover > a:after, .navbarprimary .active.dropdown-submenu > a:after {
	border-left-color: #333333;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #f5f5f5;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #f5f5f5;
}
.navbarprimary .navbar-toggler, .navbarprimary .navbar-toggler:hover, .navbarprimary .navbar-toggler:focus {
	background-color: #f3f3f3;
}

.navbarprimary .small-menu-label {
	color: #f3f3f3;
}

.navbarprimary .dropdowntoggle {
	color: #000000;
}

.breadcrumb {
	background-color: #f5f5f5;
}

.headermain {
	background-color: #ffffff;
}



#comments .comment.even {
	color: #000000;
}
#comments .pingback.even {
	color: #000000;
}
#comments .comment.even {
	background-color: rgba(255, 255, 255, 0.07);
}
#comments .pingback.even {
	background-color: rgba(255, 255, 255, 0.07);
}
#comments .comment.odd {
	color: #000000;
}
#comments .pingback.odd {
	color: #000000;
}
#comments .comment.odd {
	background-color: rgba(183, 183, 183, 0.19);
}
#comments .pingback.odd {
	background-color: rgba(183, 183, 183, 0.19);
}
.sticky {
	background-color: #f7f7f7 !important;
}


/*
.side-menu-menu-wrap ul li a {
	color: #d5d5d5;
}
.side-menu-menu-wrap ul li a:hover, .side-menu-menu-wrap ul li.current_page_item a, .side-menu-menu-wrap ul li.current-menu-item a {
	color: #ffffff;
}
*/

.side-menu-menu-wrap {
	color: #ffffff;
}

.side-menu-menu-wrap {
	background-color: #333333;
}

.side-menu-close-button::before, .side-menu-close-button::after {
	background-color: #ffffff;
}



.footer, .footer caption {
	color: #dddddd;
}
.footer {
	background-color: #3e3b3b;
}
.footer {
	border-color: #000000;
}
.footer .widgets_footer_title {
	color: #dddddd;
}
.footer a, .widgets_footer ul li::before {
	color: #f66f66;
}
.footer a:hover, .widgets_footer ul li:hover::before {
	color: #ff2c1e;
}



.footer-copyright {
	color: #a7a7a7;
}
.footer-copyright {
	background-color: #272424;
}
.footer-copyright a {
	color: #f66f66;
}
.footer-copyright a:hover {
	color: #ff2c1e;
}

/* default colors END */


/*
* Third party plugins
*/

/* bbp */
#bbp_topic_status_select, #bbp_stick_topic_select, #bbp_anonymous_author, #bbp_anonymous_email, #bbp_anonymous_website, #bbp_topic_title, #bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content, #bbp_topic_tags {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	display: block;
	font-size: 14px;
	line-height: 1.42857;
	padding: 6px 12px;
	-webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
}

#bbp_anonymous_author:focus, #bbp_anonymous_email:focus, #bbp_anonymous_website:focus, #bbp_topic_title:focus, #bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content:focus, #bbp_topic_tags:focus {
	border-color: #66afe9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	outline: 0 none;
}

.bbp-submit-wrapper .button {
	padding: 6px 24px;
	font-size: 15px;
	border: 1px transparent;
	border-radius: 3px;
}


#subscription-toggle a {
	position: relative;
	left: 7px;
	top: 4px;
	float: right;
}

/* bbp END */

/* contact form 7 */

.wpcf7-form label {
	display: unset;
}

.wpcf7-form .wpcf7-form-control.wpcf7-text {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.wpcf7-form .wpcf7-form-control.wpcf7-text:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.wpcf7-form .wpcf7-form-control.wpcf7-number {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.wpcf7-form .wpcf7-form-control.wpcf7-number:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.wpcf7-form .wpcf7-form-control.wpcf7-date {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.wpcf7-form .wpcf7-form-control.wpcf7-date:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.wpcf7-form .wpcf7-form-control.wpcf7-textarea {
	display: block;
	width: 100%;
	height: auto;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.wpcf7-form .wpcf7-form-control.wpcf7-textarea:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.wpcf7-form .wpcf7-form-control.wpcf7-submit {
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}


/* contact form 7 END */

.g-recaptcha {
	padding: 10px 0px;
}

/* yikes-easy-mc-form */

.yikes-mailchimp-container span.EMAIL-label {
	display: none;
}

.yikes-mailchimp-container .yikes-easy-mc-form input[type="email"] {
	position: relative;
	top: 23px;
	padding: 10px 5px;
}

.yikes-mailchimp-container .yikes-easy-mc-submit-button.btn-primary {
	background-color: #000000;
	border: 0;
	position: relative;
	top: 3px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.yikes-mailchimp-container .yikes-easy-mc-submit-button.btn-primary:hover {
	background-color: #f66f66;
	color: #ffffff;
}

/*
* Third party plugins END
*/
