@-webkit-keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, .2)
    }

    to {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 transparent
    }
}

@keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, .2)
    }

    to {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 transparent
    }
}

html {
    font-family: sans-serif
}

*,
::after,
::before {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 10px 0;
    padding: 0
}

.col-1 {
    width: 8.33%
}

.col-2 {
    width: 16.66%
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33%
}

.col-5 {
    width: 41.66%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33%
}

.col-8 {
    width: 66.66%
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.33%
}

.col-11 {
    width: 91.66%
}

.col-12 {
    width: 100%
}

[class*=col-] {
    float: left;
    padding: 15px
}

.container {
    width: 1140px;
    margin: 0 auto
}

#form-cta-subscribe-3,
#form-cta-subscribe-3 input[type=text],
.container-fluid,
.img-res {
    width: 100%
}

.row::after {
    content: "";
    clear: both;
    display: table
}

.img-res {
    height: auto
}

.description {
    background: #fff;
    padding: 30px;
    line-height: 24px;
    text-align: center;
    color: #777;
    font-size: 14px
}

.brilliko_bg {
    background-image: url(../images/brilliko4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 30px
}

.text-center {
    text-align: center
}

.icons {
    width: 70px;
    height: 70px;
    list-style: none;
    background-color: #fff;
    background-image: -webkit-linear-gradient(90deg, #fff 0, #9ed2ff 100%);
    background-image: -moz-linear-gradient(90deg, #fff 0, #9ed2ff 100%);
    background-image: -o-linear-gradient(90deg, #fff 0, #9ed2ff 100%);
    background-image: linear-gradient(90deg, #fff 0, #9ed2ff 100%);
    border-radius: 50%;
    margin-left: 15px;
    padding: 10px
}

.slide-content h4 {
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 400
}

.slide-content h1 {
    font-size: 50px;
    line-height: 60px
}

.slide-content p {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 20px;
    line-height: 1.9;
    font-size: 18px
}

.author-info a,
.text-white {
    color: #fff
}

.orange {
    color: #d85401;
    font-weight: 300;
    font-family: sans-serif;
}

.text-ce {
    line-height: 24px;
    color: #777
}

.text-red {
    color: #f70c1d
}

#form-cta-subscribe-3 .form-group {
    float: left;
    vertical-align: top;
    padding-right: 20px;
    width: 20%
}

button,
button.form-control,
input,
input.form-control,
select,
select.form-control,
textarea,
textarea.form-control {
    padding: 0 20px;
    width: 100%;
    height: 48px;
    line-height: 49px;
    font-size: 12px;
    font-weight: 700;
    outline: 0;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    transition: all .2s;
    color: #000;
    background: #fff
}

input[type=submit],
input[type=submit].form-control {
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    height: 48px;
    line-height: 48px;
    padding: 0 27px;
    font-size: 14px;
    position: relative;
    border: 0;
    color: #fff;
    border-radius: 2px;
    box-shadow: none;
    transition: all .2s;
    width: 100%
}

input[type=submit] {
    background-color: #f70c1d;
    background-image: -webkit-linear-gradient(90deg, #f70c1d 0, #fd3442 100%);
    background-image: -moz-linear-gradient(90deg, #f70c1d 0, #fd3442 100%);
    background-image: -o-linear-gradient(90deg, #f70c1d 0, #fd3442 100%);
    background-image: linear-gradient(90deg, #f70c1d 0, #fd3442 100%)
}

::-webkit-input-placeholder {
    color: #000 !important
}

::-moz-placeholder {
    color: #000 !important
}

:-ms-input-placeholder {
    color: #000 !important
}

:-moz-placeholder {
    color: #000 !important
}

.call {
    font-size: 14px;
    color: #fff;
    line-height: 24px
}

.blue {
    color: #2292f4
}

.grey {
    color: #777
}

#about {
    padding-top: 50px;
    padding-bottom: 50px
}

.about {
    width: 80%;
    line-height: 24px;
    margin: 20px auto
}

.icon_about {
    background-color: #017ce7;
    background-image: -webkit-linear-gradient(90deg, #017ce7 0, #34a0ff 100%);
    background-image: -moz-linear-gradient(90deg, #017ce7 0, #34a0ff 100%);
    background-image: -o-linear-gradient(90deg, #017ce7 0, #34a0ff 100%);
    background-image: linear-gradient(90deg, #017ce7 0, #34a0ff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    padding: 30px;
    border-radius: 100%;
    transition: all .2s;
    color: #fff
}

.icon_about img {
    width: 80px;
    padding-bottom: 10px
}

.pos-rel {
    position: relative
}

.pos-btm,
.pos-top {
    position: absolute;
    bottom: -10px;
    right: 0
}

.pos-btm {
    bottom: 0;
    right: -80px
}

#choosing-courses {
    background: url(../images/brilliko2.jpg) 50% 50% fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px
}

#contact {
    background: url(../images/brilliko1.jpg) 50% 50% fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    line-height: 30px;
}

.slider1 {
    width: 300px;
    text-align: center;
    overflow: hidden
}
.social-icons li{
    float: left
}

.slides {
    display: flex;
    overflow-x: auto;
    border-radius: 5px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

.slides::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px
}

.slides::-webkit-scrollbar-track {
    background: 0 0
}

.slides > div {
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: #fff;
    transform-origin: center center;
    transform: scale(1);
    transition: transform .5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

.slides > div:target {
    transform: scale(.8)
}

.author-info,
.slider1 img {
    position: absolute;
    left: 0;
    width: 100%
}

.author-info {
    background: rgba(0, 0, 0, .75);
    color: #fff;
    padding: .75rem;
    text-align: center;
    bottom: 0;
    margin: 0
}

.slider1 img {
    object-fit: cover;
    top: 0;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #f70c1d
}

#team {
    padding-top: 100px;
    padding-bottom: 100px
}

.slider1 > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: #ccc;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 .5rem;
    position: relative;
    font-size: 12px
}

.slider1 > a:active {
    top: 1px
}

.slider1 > a:focus {
    background: #000
}

.caption {
    position: absolute;
    bottom: 0;
    color: #c83737;
    background: rgba(255, 255, 255, .81);
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #ccc
}

.caption h4 {
    font-size: 13px;
    margin-bottom: 0
}

.caption p {
    font-size: 12px;
    margin-top: 2px
}

@supports (scroll-snap-type) {
    .slider1 > a {
        display: none
    }
}

#testimonials {
    background: url(../images/brilliko3.jpg) 50% 50% fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative
}

.img-test {
    width: 80px;
    border-radius: 50%;
    float: left;
    border: 2px solid #fff;
}

.name {
    color: white;
    color: #fff;
    margin-bottom: 3rem;
    max-width: 300px;
    font-family: Georgia, serif;
    font-style: italic;
    line-height: 24px;
    float: left;
}

.slider {
    height: 380px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.slider__nav:checked {
    -webkit-animation: check .4s linear forwards;
    animation: check .4s linear forwards
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0
}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%
}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%
}

.slider__nav:checked:nth-of-type(5) ~ .slider__inner {
    left: -400%
}

.slider__contents,
.slider__inner {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    -webkit-transition: left .4s;
    transition: left .4s;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}

.slider__contents {
    padding: 2rem;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.slider__image {
    font-size: 2.7rem;
    color: #2196f3
}

.slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    text-transform: uppercase
}

.slider__txt {
    color: #fff;
    margin-bottom: 3rem;
    max-width: 500px;
    font-family: Georgia, serif;
    font-style: italic;
    line-height: 24px;
}

.section-content {
    background: #eee;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media only screen and (max-width:1200px) {
    .container {
        width: 100%
    }
}

@media only screen and (max-width:768px) {
    [class*=col-] {
        width: 100%
    }

    .brilliko_bg {
        background-image: url(../images/brilliko4.jpg);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%
    }

    #form-cta-subscribe-3 .form-group {
        width: 100%;
        padding-right: 5px;
        margin-bottom: 10px
    }

    .hidden {
        display: none
    }
}

.slides {
    overflow: hidden;    
}

.slider-img {
    margin:1rem;
}

.list {
    display: flex;
     align-content: center;
     justify-content: center;
    margin: 3rem;
}
.list  div{
    margin-left: 1rem;
    display: inline-block;
    width:20px;
    height:20px;
    background: black;
}

.list  div.active-tab-color {
    background: red;
}
.parent-slide {
    opacity: 0;
     margin: 2rem;
     left:-200px;
    -webkit-animation: mymove 1.5s .2s forwards ease; /* Safari 4.0 - 8.0 */
    animation: mymove 1.5s  .1s forwards ease;
}

.gurinder-effect {
    opacity: 0;
     margin: 2rem;
     left:-200px;
    -webkit-animation: gurindermove 1.5s .5s forwards ease; /* Safari 4.0 - 8.0 */
    animation: gurindermove 1.5s  .5s forwards ease;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left:-200px;opacity:0}
    to {top: 0px;left:0;opacity:1}
  }
  
  /* Standard syntax */
  @keyframes mymove {
    from {left:-200px;opacity:0}
    to {top: 0px;left:0;opacity:1}
  }

  /* Safari 4.0 - 8.0 */
@-webkit-keyframes gurindermove {
    from {left:-500px;opacity:0}
    to {top: 0px;left:0;opacity:1}
  }
  
  /* Standard syntax */
  @keyframes gurindermove {
    from {left:-500px;opacity:0}
    to {top: 0px;left:0;opacity:1}
  }