<template>
     <div class="container">
         <label for="">Title</label>
         <input type="text" class="form-control" v-model="name" id="">
         <button @click="add">Add</button>
     </div>
</template>

<style>

</style>

<script>

import axios from 'axios'

export default {

    data(){
      
       return {

         name:null,

       }

    } ,

    mounted(){

      

    },


    methods:{
        add(){
             axios

                .post("http://jaskiran.brilliko/enquiry/api/contact",{
                     name:this.name
                 })
                    
                .then((res) => {
                   console.log(res)
                 })

                 .catch( (e) => {
                     console.log(e)
                 })
                 
        }
    }
    
}
</script>