<template>
    
     <div v-if="user != null">
               <h2>Hello! {{user.name}} </h2>
     </div>
     <div v-else>
               <h> Unauthorized </h>
     </div>

</template>

<style  scoped>

</style>

<script>
import axios from 'axios'
export default {

    data(){
        return {
            user:null
        }
    },

    mounted(){
        axios.get("http://jaskiran.brilliko/jwt/api/dashboard",{
            
            headers:{
                "Authorization":"Bearer " + localStorage.getItem("user_token") 
            }

        })

        .then( (res) => {
            this.user  = res.data
        } )
        .catch( (e) => {
               console.log(e)
        } )
    }
}

   
</script>