<template>
    <div>
         <!-- <TopHeader  phone="9646848434"> </TopHeader> -->
         <!-- <h1> {{message}} </h1> -->
         <!-- <button @click="changeMe">Click</button> -->
         <Message :message="answer"  v-on:countparent="please" />
 
          <div class="container">
            <input type="text"  class="form-control" v-model="answer">
            {{mysidecount}}
          </div>


          <div class="container">
             <div v-for="post in posts" :key="post">
                     <h1>{{post.title}}</h1>
                     <p>   {{post.body}}  </p>
             </div>
          </div>

          <div class="container">
             <div v-for="student in students" :key="student">
                     <h1>{{student.name}}</h1>
             </div>
          </div>


    </div>
</template>
<script>
import TopHeader from '@/components/header.vue'
import axios from 'axios'
import Message from '@/components/message.vue'
export default {

    components:{
        TopHeader ,
        Message,
    } ,


 

    data(){

       return {
           message: "Hello" ,
           answer:null ,
            posts:[],
            mysidecount:null,
            students:[]
       }

    } ,
       

    //    Buth sarriea automation bhave dii koi jo marzi kahe g :)


// na joo :)
// pen mere kol rkha lwa?

       mounted(){
        //    axios
        //    .get("https://jsonplaceholder.typicode.com/posts")
        //     .then((res) => {
        //        this.posts = res.data
        //     })

           axios
           .get("http://jaskiran.brilliko/enquiry/api/students")
            .then((res) => {
             this.students = res.data
            })
    } ,
    

    methods:{

     changeMe(){
            this.message = 'Hi Billi';
      } ,
      please(data){
         this.mysidecount = data;
      }

    }


}
</script>


<style>

h1{
    color:pink;
}

</style>