<template>
    
    <div class="container">
     <form @submit.prevent="login">
         <div class="alert alert-danger" v-if="user.msg != null">
             <strong>{{user.msg}}</strong>
         </div>
         <div class="form-group">
             <label for="">Email</label>
            <input type="email" class="form-control" v-model="user.email" required>
        </div>
        <div class="form-group">
             <label for="">Password</label>
            <input type="password" class="form-control" v-model="user.password" required>
        </div>
        <div class="form-group">
           <button class="btn btn-primary" >Login</button>
        </div>
     </form>
    </div>

</template>

<style  scoped>

</style>

<script>
import axios from 'axios'
export default {

    data(){

     return {
          
        user:{
           email:null,
           password:null,
           msg:null,
       } ,
     }

    }, 

    /*======================================*/

    methods:{


        login(){

this.user.msg = null;

            axios
                 .post("http://jaskiran.brilliko/jwt/api/login",{
                     email:this.user.email,
                     password:this.user.password
                  })
              
                 .then( (res) => {

                       if(res.data.status){

                           localStorage.setItem("user_token", res.data.token);
                           this.$router.push({ name: 'dashboard'} );

                       } else {
                          this.user.msg = "Invalid Username & Password"
                       }

                  })

                  .catch( (e) => {
                         
                          console.log(e)

                   })
                //  .then( function(res) {

                //   })
        }

    } ,

    /*======================================*/
    
}
</script>