.container{
    margin: 3rem;
    overflow: hidden;
}
body{
    overflow: hidden;
    background: black;
}

.res {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slider-image {
    overflow: hidden;
    width:50%;
    position: absolute;
    left:25%;
    transform: scale(0);
    opacity: .5;
    animation: move-left 1.5s .2s forwards cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.move_right {
    overflow: hidden;
    width:50%;
    position: absolute;
    transform: scale(1);
    opacity: 1;
    animation: move-right-animation 1s .2s forwards cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes move-left{
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes move-right-animation{
    from {
       transform: scale(1);
       opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}