.container{
    margin: 3rem;   
}
html body{
    background: black;
}

.slider {
    display: flex;  
    justify-content: center;
}
.slider button {
    padding: 1rem;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.slider img{
    width:50%;
}

.fade {
animation: fade_animate 1s forwards ease;
opacity: 0;
}

@keyframes fade_animate {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.fade-out {
animation: fade_animate_out 1s forwards ease;
opacity: 1;
}

@keyframes fade_animate_out {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}