
.gallary{
    position: absolute;
}

.img{
    width:250px;
    height: 250px;
}

#frame1{
    transition: all linear .5s;
    left:50px;
}

#frame2{
    opacity: 0;
    transition: all linear .5s;

    left:-600px;
}

