.box{
    background:black;
    height: 200px;
    width:200px;
    position: static;
}
.box_rel{
    background:red;
    height: 200px;
    width:200px;
    position: relative;
    top:0px;
}

.box_fixed{
    background:green;
    height: 200px;
    width:200px;
    position: fixed;
    top:0px;
}

.box_absolute{
    background:green;
    height: 50px;
    width:50px;
    position: absolute;
    top:0px;
    left:100%;
}

.box-animate{
    background:black;
    height: 200px;
    width:200px;
    position: absolute;
}
/* Static Relative Absolute Fixed */