<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Axios</title>
</head>
<body>
    

<div id="app">

   <div v-for="post in posts">
        <h1> {{post.title}} </h1> 
        <p> {{post.body}} </p> 
   </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <script>
         var app = new Vue({
             el:"#app" ,
             data:{

               posts:[]

             },
             mounted(){
                  
                this.getPost();

             },
             methods:{

                   getPost(){

                     axios.get("https://jsonplaceholder.typicode.com/posts")

                     .then( (res) => {
                       
                         this.posts = res.data;
                      })

                      .catch( (e) => {
                          console.log(e)
                       })


                    } ,


                    test(){
                        this.getPost();
                    }

             }
         })
    </script>

</body>
</html>