<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>


    <div id="app">
        
          <div class="container">

            
            <div v-if="form_display">

                    <form action="" method="post" @submit.prevent="formHandle">


                            <div class="form-group">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control" v-model="form.name" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Gender</label>
                                    <input type="radio" value="male" class="" v-model="form.gender">Male
                                    <input type="radio" value="female" class="" v-model="form.gender">Female
                                </div>
                                <div class="form-group">
                                    <label for="">Hobbies</label>
                                    <input type="checkbox" value="Reading" class="" v-model="form.hobbies">Reading
                                    <input type="checkbox" value="Travelling" class="" v-model="form.hobbies">Traveling
                                    <input type="checkbox" value="Playing" class="" v-model="form.hobbies">Playing
                                </div>
                                <div class="form-group">
                                    <label for="">Course</label>
                                     <select name="" id="" class="form-control" v-model="form.course">
                                           <option value="php">php</option>
                                           <option value="laravel">laravel</option>
                                           <option value="jquery">jquery</option>
                                     </select>
                                </div>
               
                                <div class="form-group">
                                     <button class="btn btn-primary">Submit</button>
                                   </div>
               
        
                     </form>
            </div>

            <div v-else>

                 <h1>Thank You!</h1>

            </div>

          </div>
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

       
           
        var app = new Vue({

             el:"#app" ,

             data :{

                  form:{
                      name:null,
                      gender:"male",
                      hobbies:[],
                      course:"php"
                  } ,

                  form_display:true,

             } ,

             methods:{

                   formHandle(){


                     this.form_display = false;
                     console.log("I am invoked")
                         
                   }

             }

        })

    </script>
</body>
</html>