<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Advance Js</title>
</head>
<body>

<div id="app">


     <h1>  {{message}} </h1>

       <table>
           <tr>
               <th>Name</th>
               <th>Class</th>
           </tr>
            <tr v-for="student in students">
                 <td>{{student.name}}</td>
                 <td>{{student.class}}</td>
            </tr>
       </table>

       <br>

       <div v-if="show == true">
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem rerum facilis, at pariatur, molestias itaque reiciendis nostrum sit quod veniam atque a, sequi magni nemo aliquid perspiciatis vero quisquam! Quidem?
       </div>

       <button @click="show = !show">Toggle</button>


       <br>
       <label for="">Username</label>
       <input type="text" v-model="username">
{{username}}

       <button @click="username = 'jaskiran' ">Change</button>
    

       <br>
       <br>


       
       <div :class="{box:true,red:redColor,blue:!redColor}">

       </div>

       <button @click="redColor = !redColor">Toggle Color</button>

</div>
    

<style>
    .box{
        height: 50px;
        width: 50px;
    }

    .red{
         background-color:red;
    }

    .blue{
        background-color:blue;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
 var app = new Vue({

     el:"#app" ,

     data: {

        
         redColor:true,

         username:null,

         message:"Hello World" ,

         show:true,

         students:[
                   
               {
                   name:"Tom" ,
                   class:"BCA"
               },
                   
               {
                   name:"Jeery" ,
                   class:"MCA"
               }
         
         ]

     } ,
     /*732849999999999999999999999999999999999999999999999999*/


     methods:{

        toggle(){

              
             this.show = !this.show;


        }

     }

 })    
</script>
</body>
</html>