<template>
    <div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href=""> {{phone}} </a></li>
        </ul>
        <h1>NAV BAR H1</h1>


        <MyMessage  message="Bhut sarra automation:)" />

        <div class="jumbotron">
            <h1>Gi</h1>
        </div>
    </div>
</template>


<style scoped>
h1{
    color: red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>

<script>
import Message from  '@/components/message.vue'
export default {
  components:{
     "MyMessage":Message
  },
    props:{
        phone:{
            default:"1234567890",
            // required:true
        }
    }
    // props:["phone"]
}
</script>