<template>
    <div>
       <h3>{{message}}</h3>

       <input type="text" v-model="count" >

        <button class="btn btn-primary" @click="countHandler">Request</button>


    </div>
</template>




<script>
export default {
    props:["message"] ,
    data(){
        return {
            // count:0
            count:null,
        }
    } ,
    methods:{
        countHandler(){
            // this.count++;
            this.$emit("countparent",this.count)
        }
    } ,
    watch:{
        count(val){
              this.$emit("countparent",val)
        }
    }
}
</script>