   <form id="form-cta-subscribe-3" class="form-inline " action="https://brilliko.com/admindata/contact" method="POST">
       <div class="form-group">
           <input type="text" class="form-control" placeholder="Your Name" name="name" required>
       </div><!-- .form-group end -->
       <div class="form-group">
           <input type="text" class="form-control" placeholder="Your Email" name="email" required>
       </div><!-- .form-group end -->
       <div class="form-group">
           <input type="text" class="form-control" placeholder="Mobile Number" name="mobile" required>
           <input type="hidden" name="center" value="Ludhiana">
           <input type="hidden" name="qualification" value="---------">
           <!--<input type="hidden" name="thank" value="thank">-->
       </div><!-- .form-group end -->
       <div class="form-group">
           <select class="form-control" name="course" required>
               <option disabled selected hidden>Your Course</option>
               <option>Animation</option>
               <option>Visual Effects (VFX)</option>
               <option>Film Making</option>
               <option>Game Design</option>
               <option>Web Design</option>
               <option>Graphic Design</option>
               <option>Sketching</option>
           </select>
       </div><!-- .form-group end -->
       <div class="form-group">
           <input type="submit" class="form-control red-btn" value="Grab Your Course">
       </div><!-- .form-group end -->
   </form><!-- #form-cta-subscribe-2 end -->
