body{
    color:red;
}
.container{
    margin:3rem;
}

.slider {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
}

.box{
    background: red;
    margin:1rem;
    height:250px;
    width: 250px;
}